<h1>Current BlogPosts</h1>

<div class="row">
	<% @blog_posts.each do |blog_post| %>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= link_to blog_post.title , blog_post_path(blog_post), class: "btn btn-info" %>
					</div>
					<div class="panel-body">
						by <%= blog_post.author %><br>
						<p><i>Created: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></i></p>
				
						<p>
							<%= truncate blog_post.blog_entry, limit: 50 %>
							<%= link_to "read more", blog_post_path(blog_post) %>
						</p>
					</div>
					<div class="panel-footer">
						<%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
						<%= link_to "Destroy", blog_post_path(blog_post), method: :delete, data: { confirm: "Are You Sure"}, class: "btn btn-danger" %>
					</div>
				</div>
			</div>
	<% end %>
</div>

<%= link_to "New Blog Post", new_blog_post_path, class: "btn btn-success" %>




